.header {
    background-color:#448F30 ;
    width : 100% ;
    display : flex ;
    justify-content : space-between;
    align-items : center;
    padding : 10px 10px ; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-bar {
    background-color: #356A27; 
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 0;
    position: fixed; 
    top: 88px; 
    left: 0;
    z-index: 999;
}

.nav-button {
    background-color: #5FAF50; 
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-button:hover {
    background-color: #4C9040; 
}

.Logo{
    width : 15vw ;
    display : flex ;
    align-items : center;
    padding : 10px 10px ; 
    font-size : 20px;
    font-weight : bold ;
    font-family : Arial ;
}

#JT{
    color: white;
    margin-left: 10px;
}

#Presentation {
    font-family: Arial;
    font-size: 25px;
    margin-top: 200px;
    margin-left: 60px;
    text-align: left;
    max-width: 75%;
}



/*##############################################################*/

#Body_Accueil{
    background: url("Image_Accueil.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    display : flex ;
    flex-direction : column ;
    justify-content: flex-start;
    min-height: 100vh;
}

#Body_Login {
    background: url("Image_Accueil.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    display : flex ;
    flex-direction : column ;
    align-items  : center;
    justify-content: center;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.lien{
    color : white ;
    font-family : Arial ;
    text-decoration: none;
    margin-right : 20px ;
}

.INPUT{
    height : 50vh;
    width: 50vw;  
    background-color:#3A5000 ;
    display : flex ;
    align-items : center ;
    justify-content : center ;
    flex-direction : column ;
    padding : 20px 20px ;
    margin-top: 80px;
    border-radius : 15% ;
}

.i1 {
    margin-bottom : 20px ;
    width : 80%;
}
  
.i1into {
    background-color:#6CA299 ;
    height : 40px;
    width : 100%;
    padding : 10px;
}

.label{
    color: white;
    font-family : Arial ;
    font-weight : bold ;
    font-size: 175%;
}
  
.B1{
    background-color : #3B82F6 ;
    color : white ;
    border : none ;
    padding : 16px 23px;
    cursor: pointer;
    font-family : Arial ;
    border-radius : 15% ;
    font-size : 21px;
    margin-right: 50px;
    margin-bottom: 20px;
}
  
.B2{
    background-color : white ;
    color : #3B82F6 ;
    border : none ;
    padding : 16px 23px ;
    cursor: pointer;
    font-family : Arial ;
    border-radius : 15% ;
    font-size : 21px;
}
  
.B2:hover ,.B1:hover{
    opacity: 0.8; 
}

#Boutons {
    margin-top: 25px;
}

/*##############################################################*/
/*https://images8.alphacoders.com/866/866198.jpg*/

#footer {
    color : white ;
    font-size : 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    
}
  
/*##############################################################*/

* { 
    box-sizing: border-box ;
    padding : 0;
    margin : 0px ;
}



/*##############################################################*/



#Body_Admin {
    background-color: #0f4800;
    display : flex ;
    flex-direction : column ;
    align-items  : center;
    justify-content: center;    
    min-height: 100vh;
}

.admin-boite {
    font-family : Arial ;
    width: 80%;
    margin-top: 180px;
    margin-bottom: 60px;
    background-color: #6CA299;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.admin-titre {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}


.admin-tableau {
    width: 100%;
    border-collapse: collapse;
    background-color: #356A27;
    color: white;
}

.admin-tableau th, .admin-tableau td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

.admin-tableau th {
    background-color: #5FAF50;
    font-weight: bold;
}


.admin-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.admin-btn.vip {
    background-color: #dbf1a1;
    color: black;
}

.admin-btn.annuler {
    background-color:orange;
    color: white;
}

.admin-btn.ban {
    background-color:red;
    color: white;
}

.admin-btn:hover {
    opacity: 0.8;
}

/*##############################################################*/

#Body_Profil {
    background-color: #0f4800;
    display : flex ;
    flex-direction : column ;
    align-items  : center;
    justify-content: center;    
    min-height: 100vh;
}


#Body_Login {
    background: url("Image_Accueil.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    display : flex ;
    flex-direction : column ;
    align-items  : center;
    justify-content: center;
    min-height: 100vh;
}

.profil-container {
    width: 50%;
    margin: 100px auto;
    background-color: #43877B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
}

.profil-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profil-info {
    text-align: left;
    padding: 10px 20px;
}

.profil-info p {
    font-size: 18px;
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bouton-mod {
    background-color: #5FAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
}

.bouton-mod:hover {
    background-color: #4C9040;
}


.bouton-enreg {
    background-color: #FFD700;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

.bouton-enreg:hover {
    background-color: #E6C200;
}
